body{overflow : hidden; overflow-y : scroll}

html, body
{
    height: 100%;
}

.container-fluid
{
    position: absolute;
}

.contenedor1
{
    background-image: url('../img/19951.jpg');
    background-size: 103%;
    background-repeat : no-repeat;
    background-attachment: scroll;
    height: 49vw;
}

.contenedor2
{
    margin-top: 100px;
}

.contenedor4
{
    margin-bottom: 50px;
}

@media(min-width: 768px)
{
    .contenedor3
    {
        padding-right: 70px;
    }
}

form
{
    font-family: VTW;
    font-size: 20px;
}

/*-------------------------------------------Menu, Banner y contenido-------------------------------------------------------------*/

@media(max-width: 768px)
{
    .espacio
    {
        width: 0;
    }

    .espacio2
    {
        margin-top: 8%;
        width: 100%;
    }

    #menu-items
    {
        height: 100%;
    }

    #menu
    {
        background-color: #005EBF;
        position: fixed;
        top: 0;
        z-index:9999;
        justify-content: center;
        text-align: start;
        width: 100%;
        height: 8%;
        padding-top: 0;
    }

    .encabezado-menu
    {
        top: 10%;
        font-size: 37px;
        z-index:9999;
    }

    #main {
        transition: margin-left .5s;
        padding: 0;
        position: relative;
        top: 1.7vw;
    }

    .openbtn {
        font-size: 25px;
        cursor: pointer;
        background-color: #005EBF;
        padding: 5px 15px;
        border: none;
    }

    .social-media
    {
        position: relative;
        top: 20%;
        font-size: 24px;
        z-index:9999;
    }

    .asd
    {
        display: inline;
    }

    .sidebar {
        height: 12vw;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 8%;
        left: 0%;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 3vw;
        transition: 0.5s;
    }

    /* The sidebar links */
    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 3vw;
        color: #818181;
        display: inline-block;
        transition: 0.3s;
    }

    .sidebar .closebtn {
        position: absolute;
        top: 15%;
        right: 25px;
        font-size: 4vw;
        margin-left: 50px;
    }
}

@media(min-width: 768px)
{
    .espacio
    {
        top: 0;
        width: 5.9%;
    }

    .espacio2
    {
        top: 0;
        width: 93.6%;
        position: relative;
    }

    #menu-items
    {
        height: 100%;
    }

    #menu
    {
        background-color: #005EBF;
        height: 100%;
        position: fixed;
        top: 0;
        z-index:9999;
        justify-content: center;
        display: block;
        text-align: center;
        width: 5%;
    }

    .encabezado-menu
    {
        top: 2%;
        font-size: 3.3vw;
        margin-left: 0;
        padding: 0;
    }

    #main {
        transition: margin-left .5s;
        padding: 5%;
        top: 10%;
    }

    .social-media
    {
        top: 20%;
        font-size: 2vw;
        padding: 0;
    }

    .openbtn {
        font-size: 2vw;
        cursor: pointer;
        background-color: #005EBF;
        color: black;
        padding: 10px 5px;
        border: none;
        top: 10vw;
    }

    .asd
    {
        display: block;
    }

    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 5%;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 20px;
        font-size: 2.5vw;
        margin-left: 50px;
    }
}



.fab:hover
{
    cursor: pointer;
    background-color: #005EBF ;
    color: black;
}

#contenedor-banner
{
    margin-top: 7%;
}

#contenedor-banner  h1
{
    position: relative;
    padding-left: 60%;
    font-family: TFS;
    font-size: 7vw;
}

#contenedor-banner  h3
{
    position: relative;
    padding-left: 60%;
    font-family: VTW;
    font-size: 2vw;
    text-align: center;
}

@media(max-width: 768px)
{

    .icon-scroll
    {
        top: 52vw;
    }
}
@media(min-width: 768px)
{

    .icon-scroll
    {
        top: 45vw;
    }
}

.icon-scroll
{
    position: absolute;
    z-index: 10;
    text-align: center;
    font-size: 1.5vw;
    transition: font-size .5s;
}

.icon-scroll > a
{
    text-decoration: none;
    font-family: VTW;
    color: #111111;
}

.icon-scroll:hover
{
    cursor: pointer;
    font-size: 2vw;
}

.fa-arrow-circle-down
{
    color: black;
}

.audio
{
    position: absolute;
    top: 2%;
    z-index: 10;
    left: 2%;
}

.audio audio
{
    color: #111111;
}

.audio h5
{
    font-family: VTW;
}

@media(max-width: 768px)
{
    .audio
    {
        top: 60vw;
        left: 15%;
    }

    .audio audio
    {
        width: 60vw;
    }

    .audio h5
    {
        text-align: center;
        font-size: 2.5vw;
    }
}

@media(min-width: 768px)
{
    .audio
    {
        top: 1%;
        left: 2%;
    }

    .audio audio
    {
        width: 30vw;
    }

    .audio h5
    {
        text-align: start;
        font-size: 1.5vw;
    }
}

/*-------------------------------------------------Contenido de la página/AboutMe-------------------------------------------------------*/

.encabezado-aboutMe > h2
{
    text-align: start;
    font-family: TFS;
    font-size: 9vw;
    margin-left: 8%;
}

.contenido-aboutMe > h3
{
    text-align: start;
    margin-bottom: 20px;
    font-family: VTW;
}

.contenido-aboutMe > p
{
    text-align: justify;
    font-family: VTW;
}

.contenido-aboutMe > table
{
    text-align: start;
    font-family: VTW;
}


#foto
{
    position: relative;
    width: 15vw;
    height: 20vw;
    padding-bottom:25px;
    border-radius: 50%;
}

@media(min-width: 768px)
{
    .contenido-aboutMe > h3
    {
        margin-left: 12%;
        font-size: 2vw;
    }

    .contenido-aboutMe > p
    {
        margin-left: 12%;
        font-size: 1vw;
    }


    .contenido-aboutMe > table
    {
        margin-left: 8%;
        font-family: VTW;
        font-size: 1vw;
    }
}

@media(max-width: 768px)
{
    .contenido-aboutMe > h3
    {
        margin-left: 8%;
        font-size: 4vw;
    }

    .contenido-aboutMe > p
    {
        margin-left: 8%;
        font-size: 2vw;
    }

    .contenido-aboutMe > table
    {
        margin-left: 8%;
        font-family: VTW;
        font-size: 2.5vw;
    }
}

/*-------------------------------------------------Contenido de la página/Skills-------------------------------------------------------*/

.encabezado-skills > h2
{
    text-align: start;
    font-family: TFS;
    margin-left: 8%;
    font-size: 8vw;
}

@media(min-width: 768px)
{

    .contenido-skills h3
    {
        font-size: 2.2vw;
    }

    .skills-parrafo
    {
        font-size: 1.2vw;
    }
}

.skills-titulo
{
    text-align: center;
    font-family: VTW;
}

.skills-parrafo
{
    text-align: justify;
    font-family: VTW;
}

@media(max-width: 768px)
{
    .contenido-skills h3
    {
        font-size: 3vw;
    }

    .skills-parrafo
    {
        font-size: 2vw;
    }
}

/*-------------------------------------------------Contenido de la página/Hobbies-------------------------------------------------------*/

.encabezado-hobbies > h2
{
    text-align: start;
    font-family: TFS;
    margin-left: 8%;
    font-size: 8vw;
}

.contenido-hobbies h3
{
    text-align: start;
    margin-bottom: 20px;
    font-family: VTW;
}

.contenido-hobbies p
{
    text-align: start;
    font-family: VTW;
}

.modelaje-foto
{
    height: 490px;
}

@media(min-width: 768px)
{
    .contenido-hobbies h3
    {
        font-size: 2.2vw;
    }

    .contenido-hobbies p
    {
        font-size: 1vw;
    }
}

@media(max-width: 768px)
{
    .contenido-hobbies h3
    {
        font-size: 4vw;
    }

    .contenido-hobbies p
    {
        font-size: 2vw;
    }

    .hobbies-deportes
    {
        margin-top: 0;
    }
}

/*-------------------------------------------------Contenido de la página/Contact-------------------------------------------------------*/

@media(max-width: 768px)
{

.form-group
{
    text-align: start;
}

#fila-contact
{
    margin-top: 100px;
}

.encabezado-contact > h2
{
    text-align: start;
    font-family: TFS;
    font-size: 10vw;
    margin-left: 8%;
}

.contenido-contactMe > p
{
    font-family: VTW;
    font-size: 2vw;
    margin-left: 0%;
}

.contenido-contactMe > h3
{
    font-family: VTW;
    font-size: 3vw;
    margin-left: 0%;
}

.form-contactMe > form
{
    font-family: VTW;
    font-size: 3vw;
}

}

@media(min-width: 768px)
{

    .form-group
    {
        text-align: start;
    }

    #fila-contact
    {
        margin-top: 100px;
    }

    .encabezado-contact > h2
    {
        text-align: start;
        font-family: TFS;
        font-size: 8vw;
        margin-left: 8%;
    }

    .contenido-contactMe > p
    {
        font-family: VTW;
        font-size: 1vw;
        margin-left: 0%;
    }

    .contenido-contactMe > h3
    {
        font-family: VTW;
        font-size: 2vw;
        margin-left: 0%;
    }

    .form-contactMe > form
    {
        font-family: VTW;
        font-size: 1vw;
    }

}

/*--------------------------------------------------footer------------------------------------------------------*/

#footer
{
    background-color: #001428;
    margin-top: 100px;
}

#footer table, #footer p
{
    font-family: VTW;
}

@media(max-width: 768px)
{
    #footer table, #footer p
    {
        font-size: 2vw;
    }
}

@media(min-width: 768px)
{
    #footer table, #footer p
    {
        font-size: 1.2vw;
    }
}
#footer table, #footer p, #footer i { color: white; }

.bg-light
{
    height: 1px;
    margin-top: 12px;
}

.contenido-footer
{
    margin-top: 45px;
    margin-left: 30px;
}

.social-footer
{
    margin-top: 45px;
    margin-left: 30px;
}


/*-----------------------------------------------Dinamismos de la página---------------------------------------------------------*/


.sidebar a:hover {
    color: #f1f1f1;
}

.openbtn:hover {
    background-color: #024F9F;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

@font-face
{
    font-family: TFS;
    src: url(../font/TFSFont.otf);
}

@font-face
{
    font-family: VTW;
    src: url(../font/VTW.ttf);
}

a{text-decoration: none;}
i{color: white;}

#img-1
{
    height: 100%;
    width: 100%;
}

#img-2
{
    height: 100%;
    width: 100%;
}

#img-3
{
    height: 100%;
    width: 100%;
}

.phy
{
    padding: 2px;
}

@media(max-width: 768px)
{
    #video
    {
        width: 100%;
        height: 250px;
    }
}

@media(min-width: 768px)
{
    #video
    {
        width: 135.2%;
        height: 350px;
    }
}



